.todo_item {
  width: 80%;
  height: 66PX;
  line-height: 66PX;
  margin: 20PX auto;
  background: #dfe2e2;
  border-radius: 20PX;
  box-shadow: 0 15PX 30PX 0 rgba(0,0,0,0.11),
            0 5PX 15PX 0 rgba(0,0,0,0.08);
}
